
.gitignore
.DS_Store
CodingTheory/*test*
*~*
*#*
alg-stat/HierarchicalModels/test.m2
alg-stat/HierarchicalModels/tfpSketch.m2
alg-stat/HierarchicalModels/test.m2
.DS_Store
FastLinAlg/M2/.vscode/settings.json
FastLinAlg/Paper/FastLinAlgPaper.pdf
FastLinAlg/Paper/RandomRationalPoints.pdf
