
.gitignore
.DS_Store
CodingTheory/*test*
*~*
*#*
alg-stat/HierarchicalModels/test.m2
alg-stat/HierarchicalModels/tfpSketch.m2
alg-stat/HierarchicalModels/test.m2
alg-stat/AlgebraicOptimization/test.m2
alg-stat/AlgebraicOptimization/ex.m2
alg-stat/AlgebraicOptimization/HierarchicalModels.m2
alg-stat/AlgebraicOptimization/generate_example.m2
alg-stat/AlgebraicOptimization/bertini
