.DS_Store
FastLinAlg/M2/.vscode/settings.json
FastLinAlg/Paper/FastLinAlgPaper.pdf
FastLinAlg/Paper/RandomRationalPoints.pdf
FastLinAlg/Paper/RandomRationalPoints.pdf
.gitignore
FastLinAlg/Paper/RandomRationalPoints.pdf
FastLinAlg/Paper/RandomRationalPoints.pdf
